<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lista peliculas</title>
    <!-- Bootstrap Core CSS -->
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href='css/custom.css' rel='stylesheet'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
</head>
<body>
    <div class='container'>
        <div class='row'>

            <article class='col-md-4 article-intro'>
<a href='#'>
<img class='img-responsive img-rounded' src='https://upload.wikimedia.org/wikipedia/en/6/67/Forrest_Gump_poster.jpg'
alt=''>
</a>
<h3>
<a href='#'> Forrest Gump </a>
</h3>
<ul>
<li>Género: Comedia dram tica</li>
<li>Puntaje:9</li>
<li>Duración: 140</li>
</ul>
<p>Al tener el coeficiente intelectual de un ni¤o, Forrest Gump siempre ha sido considerado el "tonto" de clase. Bajo las faldas de su madre se siente protegido y junto a su amiga Jenny es feliz, aunque en su propio mundo. Un problema en su columna vertebral no le impide convertirse en un  gil corredor. Ya m s mayor, Forrest luchar  en la guerra de Vietnam y conocer  al mism¡simo presidente de los Estados Unidos. Llegar  a ser muy rico, pero para Forrest hay algo que no cambia: el amor de su vida es y ser  Jenny.</p>
</article>

<article class='col-md-4 article-intro'>
<a href='#'>
<img class='img-responsive img-rounded' src='https://upload.wikimedia.org/wikipedia/en/8/8d/Gladiator_ver1.jpg'
alt=''>
</a>
<h3>
<a href='#'> Gladiador </a>
</h3>
<ul>
<li>Género: Drama ‚pico</li>
<li>Puntaje:9</li>
<li>Duración: 155</li>
</ul>
<p>En el a¤o 180 el Imperio Romano controla todo el mundo conocido hasta la fecha. M ximo, interpretado por el ya conocido Russell Crowe, es un General romano muy importante para el Emperador Marco Aurelio, pues s¢lo ‚l ha conseguido victoria tras victoria, destacando por su valent¡a, dedicaci¢n y lealtad al Imperio. C¢modo, el hijo de Marco Aurelio, est  celoso del prestigio de M ximo y del amor que le profesa su padre, as¡ que cuando asume el poder de manera inesperada, ordena el arresto y la ejecuci¢n del general. M ximo consigue escapar de sus opresores, pero no puede impedir que asesinen a su familia. Posteriormente, es capturado por un mercader de esclavos y se convierte en gladiador, prepar ndose para su venganza.</p>
</article>


			
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src='js/jquery-1.11.3.min.js'></script>
    <!-- Bootstrap Core JavaScript -->
    <script src='js/bootstrap.min.js'></script>
	<!-- IE10 viewport bug workaround -->
	<script src='js/ie10-viewport-bug-workaround.js'></script>
	<!-- Placeholder Images -->
	<script src='js/holder.min.js'></script>
</body>
</html>
